.section-title h2 {
    color: #FFF;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.50);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: none;
}

@media (min-width: 768px) {
    .container {
        width: auto;
    }
}

.product-list-popup.modal.in .modal-dialog {
    transform: translate(0, 0);
}

#or {
    color: #FAEFCE;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
}

#or::before,
#or::after {
    height: 2px;
    background-color: #FAEFCE;
    width: 20%;
    top: 25px;
}

#or::after {
    right: 10%;
}

#or::before {
    left: 10%;
}

.grow-login.btn.btn-block {
    border-radius: 5px;
    border: 1px solid #FDCC04;
    display: flex;
    width: 189px;
    padding: 6px 38px;
    align-items: center;
    text-transform: none;
    color: #FFFFFF;
    background: url(../images/grow_icon.png) no-repeat #000 10px;
    background-size: 8%;
}

.div-content-center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#profile-conflict .div-content-center {
    max-width: 50%;
}

.form-control.grow-text {
    width: 350px;
    border-radius: 5px;
    border: 2px solid #88B8CB;
    background: rgba(24, 107, 139, 0.80);
    color: #FFFFFF;
}

.form-control.grow-text::placeholder {
    color: #88B8CB;
}

.btn.grow-button {
    border-radius: 5px;
    border: 2px solid #88B8CB !important;
    background: #00B8FF !important;
    text-transform: none;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    box-shadow: 1px 3px 0.1px 0px #000;
}

.forgot-password {
    color: #FF5C00;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container .row ul {
    margin-bottom: 0;
}

#profile-conflict .card.bg-light.mb-3 .section-title h4 {
    margin: 0;
    font-size: 16px;
    text-shadow: 1px 1px 1px #595959;
    color: #404040;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#profile-conflict .card.bg-light.mb-3 .section-title.second h4 {
    color: #FFF !important;
    text-shadow: 1px 1px 1px #000;
}

#profile-conflict .card .section-title {
    display: flex;
    height: 40px;
    padding: 9px 12px;
    justify-content: center;
    align-items: center;
    gap: 16.5px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FDCC04;
}

#profile-conflict .card .section-title.second {
    background: #00B8FF !important;
}

#profile-conflict .card-body {
    border-radius: 10px;
    border: 2px solid #88B8CB;
    background: #186B8B;
    box-shadow: 1px 3px 1px 0px #000;
    padding: 10px;
}

#profile-conflict .card-body .card-title {
    color: #27FD04;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#profile-conflict .grow-progress {
    height: 15px;
    margin-bottom: 0;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

#profile-conflict .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .40) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .40) 50%, rgba(255, 255, 255, .40) 75%, transparent 75%, transparent);
}

#profile-conflict .card-text {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

#profile-conflict .card-text.info {
    font-size: 12px;
    margin: 5px 0;
}

#profile-conflict .play-info-field {
    margin: 10px 0;
}

.text-info.small {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    font-size: 14px;
    font-weight: 700;
}

.text-warning.small {
    color: #FDCC04;
    text-shadow: 1px 1px 1px #000;
    font-size: 16px;
    font-weight: 700;
}

.btn.btn-primary.grow-cancel {
    border-radius: 5px;
    display: flex;
    padding: 8px 36px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-transform: none;
    background: #FDCC04 !important;
    box-shadow: 1px 3px 0.1px 0px #000;
    color: #404040;
    text-shadow: 1px 1px 1px #404040;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none !important;
}

.btn.btn-primary.grow-confirm {
    border-radius: 5px;
    display: flex;
    padding: 8px 36px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-transform: none;
    background: #14AE5C !important;
    box-shadow: 1px 3px 0.1px 0px #000;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #404040;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none !important;
}

.grow-cancel-left {
    width: 50%;
    float: left;
}

.grow-confirm-right {
    width: 50%;
    float: right;
}

.content a:focus {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    #profile-conflict .div-content-center {
        max-width: none;
        width: 50%;
        float: left;
    }
    #profile-conflict .card .section-title {
        margin-bottom: -15px;
    }
}